---
permalink: 'index.html'
eleventyComputed:
  title: '<%= site.title %>'
---

<section class='content'>
Code is instrumental in the theatrical operation of this piece of software but transparent: at once the disappearing subject and object of the work, gingerly pulling strings at the stage’s edge.
<br/>
<br/>

<h5>
Installation Instructions
</h5>
1. Download the extension from
<a href="/operational_poetry.zip">here</a>
<br/>
2. Follow the instructions to add the extension to your browser:
<br/>
<br/>
<il>

<li><a href="https://www.smashingmagazine.com/2017/04/browser-extension-edge-chrome-firefox-opera-brave-vivaldi/#google-chrome-opera-vivaldi">Google Chrome</a></li>
<li><a href="https://www.smashingmagazine.com/2017/04/browser-extension-edge-chrome-firefox-opera-brave-vivaldi/#mozilla-firefox">Firefox</a></li>
</il>
<br/>

3. Open any web page (try <a href="http://www.studiocleo.com/librarie/mallarme/prose.html">this</a>)
</section>